{
  "arrowParens": "avoid",
  "semi": false,
  "printWidth": 120,
  "singleQuote": true,
  "jsxSingleQuote": false,
  "trailingComma": "none",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "endOfLine": "lf",
  "importOrder": [
    "^react$",
    "^react/(.*)$", 
    "^react-redux$",
    "^@reduxjs/(.*)$",
    "^redux-injectors$",
    "^redux-saga$",
    "^react-router-dom$", 
    "<THIRD_PARTY_MODULES>",
    "^@/mui/(.*)$", 
    "^@/routes$", 
    "^@/routes/(.*)$", 
    "^@fortawesome/(.*)$", 
    "^@/context/(.*)$", 
    "^@/app/components/(.*)$", 
    "^@/components/(.*)$",
    "^@/app/pages/(.*)$",
    "^@/menu-items/(.*)$", 
    "^@/hooks/(.*)$", 
    "^@/apis/(.*)$", 
    "^@/constants/(.*)$", 
    "^@/types$", 
    "^@/types/(.*)$", 
    "^@/locales/(.*)$", 
    "^@/utils/(.*)$", 
    "^@/assets/(.*)$", 
    "^@/fake-data/(.*)$", 
    "^[./]"
  ],
  "importOrderSeparation": false,
  "importOrderSortSpecifiers": true
}
